.client__nav,
.client__bottom,
.client__dots .slick-dots,
.client__body,
.fashion-game__link,
.fashion-game__img,
.fashion__games,
.why-galaxsys__gifts,
.our-partners__block.show:nth-of-type(1n + 13),
.statistics__title,
.partners__btn,
.gift__icon,
.gift,
.our-partners__body,
.our-partners__btn,
.our-partners__block,
.our-partners__slider.slick-initialized .slick-slide,
.our-partners__slider,
.our-partners__title,
.benefits-block,
.benefits-blocks,
.benefits__title,
.checkmark-container,
.form-items,
.get-in-touch__img,
.get-in-touch__btn,
.get-in-touch__body,
.custom-select .combo-box-selected,
.arrow,
.btn {
    display: -ms-flexbox;
    display: flex
}

.client__nav,
.client__bottom,
.fashion-game__img,
.statistics__title,
.gift__icon,
.gift,
.our-partners__block,
.our-partners__slider.slick-initialized .slick-slide,
.our-partners__slider,
.checkmark-container,
.custom-select .combo-box-selected,
.arrow,
.btn {
    -ms-flex-align: center;
    align-items: center
}

.fashion__games {
    -ms-flex-align: flex-start;
    align-items: flex-start
}

.benefits-block {
    -ms-flex-align: flex-end;
    align-items: flex-end
}

.client__dots .slick-dots,
.fashion-game__link,
.fashion-game__img,
.fashion__games,
.partners__btn,
.gift__icon,
.our-partners__btn,
.our-partners__block,
.our-partners__slider.slick-initialized .slick-slide,
.our-partners__title,
.benefits__title,
.arrow,
.btn {
    -ms-flex-pack: center;
    justify-content: center
}

.get-in-touch__btn {
    -ms-flex-pack: flex-end;
    justify-content: flex-end
}

.partners__img--cloud>img,
.partners__img--bug,
.partners__img--cupcake>img,
.partners__img--cupcake,
.checkmark-container input~.checkmark,
.form-item__label,
.custom-select .combo-box-dropdown {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.checkmark-container,
.combo-option,
.custom-select .combo-box-selected,
.arrow,
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.fashion__decor,
.custom-select .combo-box select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

.custom-select .combo-box-dropdown {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}

.custom-select .combo-box-dropdown.opened {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

.btn {
    max-width: fit-content;
    font: 700 1rem/1 "Inter", "Tahoma", sans-serif;
    color: inherit;
    text-transform: uppercase;
    border-radius: 4.5rem;
    padding: 0 1.5rem 0 2rem;
    height: 4rem;
    position: relative;
    z-index: 1
}

@media(max-width: 1023px) {
    .btn {
        font-size: .875rem;
        line-height: 150%
    }
}

.btn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn>.icon {
    font-size: 1.5rem
}

.btn>.icon:last-child {
    margin-left: .5rem
}

.btn>.icon:first-child {
    margin-right: .5rem
}

.btn--orange {
    background: linear-gradient(256deg, #f1a954 43.52%, #ea7e00 100%);
    color: #fff
}

.btn--pink {
    background: #e31d42;
    color: #fff
}

.btn--blue {
    color: #0068ff;
    background-color: rgba(230, 240, 255, .6)
}

.btn--outline {
    border: .125rem solid rgba(5, 20, 53, .1);
    border-radius: 4.5rem;
    color: #051435
}

.btn--outline-pink {
    border: .125rem solid rgba(218, 67, 99, .1);
    background-color: rgba(218, 67, 99, .07);
    border-radius: 4.5rem;
    color: #da4363
}

.btn--underline {
    padding-right: 0;
    padding-left: 0;
    border-bottom: .15625rem solid;
    padding-bottom: .5rem;
    border-radius: 0;
    height: auto
}

.btn.disabled {
    opacity: .7;
    border: none;
    box-shadow: none
}

.arrow {
    height: 4rem;
    width: 4rem;
    border-radius: 100%
}

.arrow .icon {
    font-size: 1.5rem
}

@media(max-width: 1023px) {
    .btn {
        height: 3rem;
        border-radius: 4.625rem;
        padding: 0 1.25rem
    }

    .btn>.icon {
        font-size: 1.375rem
    }

    .btn--underline {
        padding-right: 0;
        padding-left: 0;
        border-radius: 0
    }

    .arrow {
        height: 3rem;
        width: 3rem
    }

    .arrow .icon {
        font-size: 1.125rem
    }
}

.custom-select .combo-box {
    position: relative;
    display: block
}

.custom-select .combo-box select {
    opacity: 0;
    position: absolute
}

.custom-select .combo-box-selected {
    padding: 0 1.5rem;
    height: 3.5rem;
    background-color: #fff;
    color: #000;
    border-radius: 2.875rem;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 1.25rem 2.25rem 0 rgba(0, 0, 0, .08)
}

.custom-select .combo-box-selected:after {
    content: "";
    font-family: icomoon;
    position: absolute;
    right: 1.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-size: 1.5rem
}

.custom-select .combo-box-selected.active:after {
    transform: rotate(180deg) translateY(50%)
}

.custom-select .combo-box-dropdown {
    padding: .75rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 .375rem rgba(0, 0, 0, .02), 0 .125rem .25rem rgba(0, 0, 0, .08);
    width: 100%;
    min-width: max-content;
    position: absolute;
    top: calc(100% + 0.375rem);
    left: 0;
    overflow: hidden;
    z-index: 2;
    transform: translateY(10);
    box-shadow: 0 .25rem 1.5rem 0 rgba(0, 0, 0, .102)
}

.custom-select .combo-box-dropdown.opened {
    transform: translateY(0)
}

.combo-option:not(:last-child) {
    margin-bottom: .5rem
}

@media(max-width: 1023px) {
    .custom-select .combo-box-selected {
        padding: 0 1.5rem;
        height: 3rem
    }
}

.get-in-touch {
    margin-bottom: 9.75rem
}

.get-in-touch__body {
    position: relative;
    padding: 4.5rem 4.5rem 3.125rem 4.5rem;
    border-radius: 2rem;
    background: radial-gradient(735.25% 101.52% at 91.75% 127.97%, #102e70 0%, #051435 100%)
}

.get-in-touch__body::before {
    position: absolute;
    content: "";
    height: 8.5rem;
    width: 16.75rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0) url("../../img/decor/dots-square-opacity.svg") center/cover no-repeat
}

.get-in-touch__title {
    color: #fff;
    margin-bottom: 1rem;
    position: relative;
    max-width: 20.75rem
}

.get-in-touch__title::before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: .3125rem;
    left: -4.5rem;
    background-color: #ea7e00;
    border-radius: 0 1.25rem 1.25rem 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.get-in-touch__subtitle {
    font: 400 1.125rem/162% "Inter", "Tahoma", sans-serif;
    color: rgba(255, 255, 255, .7);
    max-width: 20.75rem
}

.get-in-touch__left,
.get-in-touch__form {
    flex: 1
}

.get-in-touch__left {
    margin-right: 3.5rem
}

.get-in-touch__btn {
    margin-top: 1.875rem
}

.get-in-touch__img {
    flex-direction: column;
    position: absolute;
    left: 20.75rem;
    bottom: -2.125rem
}

.get-in-touch__img>img {
    width: 24.125rem
}

.get-in-touch__img>img:first-child {
    position: relative;
    animation: totem 3s infinite
}

.get-in-touch__img>img:last-child {
    transform-origin: top center;
    position: relative;
    animation: shadow 3s infinite
}

@media(max-width: 1023px) {
    .get-in-touch__body {
        flex-direction: column;
        padding: 2.5rem 2rem 7rem
    }

    .get-in-touch__body::before {
        bottom: -4.75rem
    }

    .get-in-touch__left {
        margin-right: 0
    }

    .get-in-touch__title {
        max-width: 100%
    }

    .get-in-touch__title::before {
        left: -2rem
    }

    .get-in-touch__subtitle {
        max-width: 100%
    }

    .get-in-touch__img {
        display: none
    }

    .get-in-touch__btn .btn {
        min-width: 100%
    }
}

@media(max-width: 767px) {
    .get-in-touch {
        margin-bottom: 0
    }

    .get-in-touch__body {
        margin: 0 -1rem;
        border-radius: 0
    }
}

@keyframes totem {
    0% {
        top: 0
    }

    50% {
        top: -1.6875rem
    }

    100% {
        top: 0
    }
}

@keyframes shadow {
    0% {
        transform: scale(1);
        opacity: 1
    }

    50% {
        transform: scale(1.6);
        opacity: .4
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.form-items {
    margin-bottom: 1.625rem
}

.form-item {
    height: 3.625rem;
    flex: 1;
    position: relative
}

.form-item:after {
    position: absolute;
    content: "";
    height: .125rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent)
}

.form-item:not(:last-child) {
    margin-right: 2rem
}

.form-item__label {
    font: 400 1.125rem/162% "Inter", "Tahoma", sans-serif;
    color: rgba(250, 250, 250, .5)
}

.form-item__input {
    font: 400 1.125rem/162% "Inter", "Tahoma", sans-serif;
    color: #fafafa;
    height: 1.875rem;
    z-index: 1;
    width: 100%
}

.form-item .custom-select {
    width: 100%;
    z-index: 2
}

.form-item .custom-select .combo-box-selected {
    font: 400 1.125rem/162% "Inter", "Tahoma", sans-serif;
    color: #fafafa;
    height: 1.875rem;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: 0
}

.form-item .custom-select .combo-box-selected::after {
    right: 0;
    color: #fff
}

.form-item__label,
.form-item__input,
.form-item .custom-select {
    position: absolute;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0
}

.form-item:hover::after {
    background: linear-gradient(to right, #ffffff, transparent)
}

.form-item.filled::after,
.form-item.focused::after {
    background: #8abaff
}

.form-item.filled .form-item__label,
.form-item.focused .form-item__label {
    font: 400 0.6875rem/145% "Inter", "Tahoma", sans-serif;
    color: #b0d0ff;
    text-transform: uppercase;
    top: -0.0625rem;
    transform: none
}

.checkmark-container {
    position: relative;
    padding-left: 2.25rem;
    font: normal 0.875rem/168% "Inter", "Tahoma", sans-serif;
    color: #b2b6c0
}

@media(max-width: 1023px) {
    .checkmark-container {
        font-size: .875rem;
        line-height: 168%
    }
}

.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: checkbox
}

.checkmark-container input:checked~.checkmark {
    background-color: #0068ff;
    border-color: #0068ff;
    box-shadow: 0 0 .375rem rgba(0, 0, 0, .02), 0 .125rem .25rem rgba(0, 0, 0, .08)
}

.checkmark-container input:checked~.checkmark::after {
    display: block
}

.checkmark-container:hover input~.checkmark {
    border-color: rgba(0, 104, 255, .7)
}

.checkmark-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border: .125rem solid rgba(105, 105, 105, .2);
    border-radius: .5rem
}

.checkmark-container .checkmark:after {
    content: "";
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem
}

.checkmark-container a {
    color: #fff
}

@media(max-width: 1023px) {
    .form-items {
        flex-direction: column;
        margin-bottom: 0
    }

    .form-item {
        margin-bottom: 1.125rem;
        flex: auto
    }

    .form-item:not(:last-child) {
        margin-right: 0
    }
}

.benefits {
    padding: 3.75rem 0 6rem;
    margin-bottom: 9.5rem;
    background: radial-gradient(735.25% 101.52% at 91.75% 127.97%, #102e70 0%, #051435 100%);
    position: relative
}

.benefits::before {
    position: absolute;
    content: "";
    height: 8.0625rem;
    width: 8.0625rem;
    right: 13.375rem;
    bottom: -4.03125rem;
    background: rgba(0, 0, 0, 0) url("../../img/decor/dots-square-stroke-sm.svg") center/cover no-repeat
}

.benefits__title {
    margin-bottom: 2.5rem;
    color: #fff;
    position: relative
}

.benefits__title>img {
    position: absolute;
    width: 3rem;
    top: -5.25rem
}

.benefits-block {
    height: 11rem;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.1) 19.74%, rgba(255, 255, 255, 0) 71.24%);
    position: relative;
    padding: 2rem;
    border-radius: 1.5rem;
    flex: 1
}

.benefits-block__number {
    margin-bottom: .5rem
}

.benefits-block__subtitle {
    font: 600 0.875rem/150% "Inter", "Tahoma", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05625rem
}

@media(max-width: 1023px) {
    .benefits-block__subtitle {
        font-size: .75rem
    }
}

.benefits-block__icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem
}

.benefits-block__icon>img {
    width: 3rem
}

.benefits-block:not(:last-child) {
    margin-right: 1.5rem
}

.benefits-block:first-child .benefits-block__number {
    color: #b0d0ff
}

.benefits-block:nth-child(2) .benefits-block__number {
    color: #f8d7b0
}

.benefits-block:nth-child(3) .benefits-block__number {
    color: #b0f0be
}

.benefits-block:nth-child(4) .benefits-block__number {
    color: #d7bdfb
}

@media(max-width: 1023px) {
    .benefits {
        padding: 1.875rem 0 2rem;
        margin-bottom: 3.125rem
    }

    .benefits::before {
        display: none
    }

    .benefits__title {
        margin-bottom: 1.875rem
    }

    .benefits__title>img {
        top: -3.375rem
    }

    .benefits-blocks {
        flex-wrap: wrap
    }

    .benefits-block {
        padding: 1.25rem 1.5rem;
        height: 6.125rem;
        min-width: 100%
    }

    .benefits-block:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem
    }

    .benefits-block__icon {
        top: .75rem
    }

    .benefits-block__icon>img {
        width: 2.5rem
    }
}

.our-partners {
    padding: 3.75rem 0;
    margin: 3.75rem 0;
    background: radial-gradient(735.25% 101.52% at 91.75% 127.97%, #102e70 0%, #051435 100%)
}

.our-partners__title {
    margin-bottom: 3.5rem;
    color: #fff;
    position: relative
}

.our-partners__title>img {
    position: absolute;
    width: 3rem;
    top: -5.25rem
}

.our-partners__slider {
    margin-bottom: 3.75rem;
    overflow: hidden
}

.our-partners__block {
    width: 13.875rem;
    height: 8.8125rem;
    border-radius: 1rem;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.1) 19.74%, rgba(255, 255, 255, 0) 71.24%);
    margin-right: 2.5rem
}

.our-partners__block>img,
.our-partners__block>svg {
    width: 11.875rem
}

.our-partners__body {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 93.25rem;
    margin-bottom: 1.875rem
}

@media(max-width: 1439px) {
    .our-partners__body {
        max-width: 62.5rem
    }
}

@media(max-width: 1023px) {
    .our-partners {
        padding: 2.5rem 0;
        margin-bottom: 3rem
    }

    .our-partners__title {
        margin-bottom: 2rem
    }

    .our-partners__title>img {
        top: -4rem
    }

    .our-partners__slider {
        margin-bottom: 2rem
    }

    .our-partners__block {
        width: 8.625rem;
        height: 5.5rem
    }

    .our-partners__block>img,
    .our-partners__block>svg {
        width: 7.375rem
    }

    .our-partners__body {
        justify-content: center;
        max-width: 100%
    }
}

.gift:not(:last-child) {
    margin-bottom: 1rem
}

.gift__icon {
    margin-right: 1rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: .5rem;
    background: linear-gradient(211deg, rgba(0, 104, 255, 0.09) 39.07%, rgba(0, 104, 255, 0) 107.81%)
}

.gift__icon>.icon {
    font-size: 1.25rem;
    color: #0068ff
}

.gift__info {
    font: 500 1.0625rem/1.4 "Inter", "Tahoma", sans-serif;
    color: #000;
    flex: 1
}

@media(max-width: 1023px) {
    .gift__info {
        font-size: .9375rem
    }
}

.gift__info>a {
    color: #0068ff;
    font-weight: 700
}

@media(max-width: 1023px) {
    .gift__icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: .375rem;
        margin-right: .375rem
    }

    .gift__icon>.icon {
        font-size: 1rem
    }
}

.header__logo>svg path {
    fill: #051435
}

.header__contact {
    color: #051435;
    border-color: rgba(5, 20, 53, .1)
}

.header__client {
    color: #ee9833;
    background: rgba(238, 152, 51, .1);
    border-color: rgba(238, 152, 51, .2)
}

.header__burger {
    border-color: rgba(5, 20, 53, .2)
}

.header__burger>span {
    background-color: #051435
}

.header-menu__item {
    color: #051435
}

.lang-switcher {
    color: rgba(5, 20, 53, .6)
}

.footer__wrapper::before {
    background-color: #ebf3ff
}

.footer__logo>svg path {
    fill: #051435
}

.footer__copyright {
    color: #8c93a2
}

.footer__subtitle {
    color: #8c93a2
}

.footer__privacy {
    color: #586278
}

.footer__address,
.footer__email {
    color: #051435
}

.footer__info {
    color: #8c93a2
}

.footer-nav__link {
    color: #051435
}

.footer-subscribe__btn {
    background-color: #ee9833
}

.footer-subscribe__input {
    background-color: #fff
}

.footer-subscribe__input::placeholder {
    color: #c3b8b0
}

.footer-social__link {
    color: rgba(5, 20, 53, .1)
}

.footer-social__link>.icon {
    color: #586278
}

@media(max-width: 1023px) {
    .footer__img>img {
        transform: rotate(300deg)
    }
}

.header-menu__item.active:after {
    background-color: #0068ff
}

.partners {
    background-color: #ebf3ff;
    padding-top: 11.625rem;
    padding-bottom: 16.375rem;
    margin-bottom: 4.625rem;
    text-align: center;
    position: relative;
    z-index: 1
}

.partners::before {
    position: absolute;
    content: "";
    left: 4rem;
    bottom: 0rem;
    width: 10.75rem;
    height: 8.0625rem;
    background: rgba(0, 0, 0, 0) url("../../img/decor/dots-square-horizontal.svg") center/cover no-repeat
}

.partners:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6.875rem;
    left: 0;
    bottom: -0.25rem;
    z-index: -1;
    background: rgba(0, 0, 0, 0) url("../../img/decor/decor-aboout.svg") center/cover no-repeat
}

.partners__title {
    margin-bottom: 1.25rem;
    color: #051435
}

.partners__subtitle {
    margin-bottom: 2rem;
    color: #586278
}

.partners__img--cupcake {
    position: absolute;
    left: 19.625rem;
    top: 24.125rem;
    width: 19rem
}

.partners__img--cupcake>img {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.partners__img--cupcake>img:first-child {
    width: 13.8125rem
}

.partners__img--cupcake>img:last-child {
    opacity: 0;
    width: 19rem
}

.partners__img--cupcake:hover {
    transform: rotate(-10deg)
}

.partners__img--cupcake:hover>img:first-child {
    opacity: 0
}

.partners__img--cupcake:hover>img:last-child {
    opacity: 1
}

.partners__img--bug {
    position: absolute;
    bottom: -5.625rem;
    right: 24.375rem;
    width: 28.9375rem
}

.partners__img--bug>img {
    width: 28.9375rem
}

.partners__img--bug:hover {
    transform: rotate(5deg)
}

.partners__img--cloud {
    position: absolute;
    right: 12.5rem;
    top: 15.5rem;
    width: 25rem
}

.partners__img--cloud>img {
    width: 12.125rem;
    position: absolute
}

.partners__img--cloud>img:last-child {
    opacity: 0;
    z-index: -1
}

.partners__img--cloud:hover>img:first-child {
    transform: scale(1.2) rotate(10deg)
}

.partners__img--cloud:hover>img:last-child {
    opacity: 1;
    transform: scale(1.5)
}

.statistics {
    margin-bottom: 9.5rem
}

.statistics__title {
    margin-bottom: 4.5rem
}

.statistics__title>img {
    margin-right: .5rem;
    transform: rotate(45deg)
}

.benefits-block {
    background: radial-gradient(735.25% 101.52% at 91.75% 127.97%, #102e70 0%, #051435 100%)
}

.our-partners {
    margin-bottom: 10.25rem
}

.our-partners__block {
    -ms-flex: 0 0 calc(16.6666666667% - 1.6666666667rem);
    flex: 0 0 calc(16.6666666667% - 1.6666666667rem);
    margin-bottom: 1.5rem;
    margin-right: 0
}

.our-partners__block:not(:nth-child(6n)) {
    margin-right: 2rem
}

.our-partners__block:nth-of-type(1n + 13) {
    display: none
}

.our-partners__btn .btn {
    color: #fff;
    border-color: rgba(255, 255, 255, .3)
}

.our-partners__btn .btn.active>.icon {
    transform: rotate(180deg)
}

.why-galaxsys {
    margin-bottom: 7.625rem
}

.why-galaxsys__title {
    margin-bottom: 1.5rem
}

.why-galaxsys__text {
    margin-bottom: 2rem
}

.why-galaxsys__gifts {
    margin-bottom: 1.5rem;
    flex-wrap: wrap
}

.why-galaxsys__gifts .gift {
    -ms-flex: 0 0 calc(50% - 0.5rem);
    flex: 0 0 calc(50% - 0.5rem)
}

.why-galaxsys__gifts .gift:nth-child(odd) {
    margin-right: 1rem
}

.why-galaxsys__img {
    border-radius: 2.5rem;
    background: linear-gradient(180deg, #ebf3ff 0%, rgba(235, 243, 255, 0) 100%)
}

.why-galaxsys__img>img {
    position: relative;
    left: -6.875rem;
    top: -4.125rem;
    min-width: 42.5rem;
    max-width: 42.5rem
}

.fashion {
    margin-bottom: 12.125rem;
    padding-top: 2.875rem;
    overflow: hidden
}

.fashion__body {
    padding: 5.875rem 0 3.75rem;
    position: relative;
    z-index: 0
}

.fashion__body::before {
    content: "";
    height: 100%;
    width: calc(100% + 11.25rem);
    background-color: #000;
    top: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    z-index: -1;
    border-radius: 3rem
}

.fashion__body:after {
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% + 11.25rem);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-size: contain;
    background-image: url(../../img/decor/fashion-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    top: 0;
    border-radius: 3rem;
    z-index: -1
}

.fashion__img {
    margin-top: -8.75rem;
    box-shadow: 0 1.25rem 1.25rem 0 rgba(0, 0, 0, .25)
}

.fashion__img>img,
.fashion__img>video {
    width: 100%;
    max-width: 100%;
    border-radius: 1.5rem
}

.fashion__title {
    color: #fff;
    margin-bottom: 2rem
}

.fashion__text>p {
    color: rgba(255, 255, 255, .7)
}

.fashion__text>p:first-child {
    color: #d4a24e
}

.fashion__text>p:not(:last-child) {
    margin-bottom: 1rem
}

.fashion__games {
    margin-top: -4.75rem
}

.fashion__decor>img {
    position: absolute
}

.fashion__decor>img:first-child {
    bottom: 2rem;
    left: -9.75rem;
    width: 8.75rem;
    height: 8.625rem
}

.fashion__decor>img:last-child {
    top: -4.125rem;
    right: -4.75rem;
    width: 24rem;
    height: 17.625rem
}

.fashion-game:first-child {
    margin-right: 3.5rem
}

.fashion-game__img {
    margin-bottom: 1.375rem;
    width: 15.125rem;
    height: 8rem;
    position: relative;
    border: .0625rem solid #fff;
    border-radius: 1.5rem;
    z-index: 1;
    backdrop-filter: blur(1.375rem);
    -webkit-backdrop-filter: blur(1.375rem);
    background: rgba(255, 255, 255, .15)
}

.fashion-game__img>img {
    width: 11.375rem
}

.fashion-game__link {
    color: #fff
}

.fashion-game__link .btn {
    border: none
}

.client {
    margin-bottom: 8rem
}

.client__title {
    margin-bottom: 2rem
}

.client__text {
    margin-bottom: 2.25rem
}

.client__body {
    position: relative;
    padding: 3.75rem 5rem;
    border-radius: 3rem;
    background-color: #ebf3ff
}

.client__icon {
    position: absolute;
    top: -2rem;
    left: 5rem
}

.client__icon>img {
    width: 4rem;
    height: 4rem
}

.client__info {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-right: 1.875rem
}

.client__btn {
    margin-right: 4rem
}

.client__slider img {
    border-radius: 1rem
}

.client__slider.slick-dotted.slick-slider {
    margin-bottom: 2.5rem
}

.client__slider-container {
    max-width: 50%;
    margin-top: -6rem
}

.client__progress {
    background-color: rgba(5, 20, 53, .2);
    height: .125rem;
    width: 3.5rem
}

.client__progress::after {
    background-color: #0068ff
}

.client__dots .slick-dots {
    position: static;
    left: 0
}

.client__prev,
.client__next {
    border: .125rem solid rgba(5, 20, 53, .1);
    color: #051435
}

.client__prev:not(:last-child),
.client__next:not(:last-child) {
    margin-right: 1.5rem
}

@media(max-width: 1439px) {
    .partners__img--cupcake {
        left: 0
    }

    .partners__img--cloud {
        right: 0
    }

    .fashion__body::before,
    .fashion__body::after {
        border-radius: 0
    }

    .our-partners__block {
        -ms-flex: 0 0 calc(25% - 1.5rem);
        flex: 0 0 calc(25% - 1.5rem);
        margin-right: 0
    }

    .our-partners__block:not(:nth-child(6n)) {
        margin-right: 0
    }

    .our-partners__block:not(:nth-child(4n)) {
        margin-right: 2rem
    }
}

@media(max-width: 1023px) {
    .statistics {
        margin-bottom: 4rem
    }

    .statistics__title {
        margin-bottom: 2rem
    }

    .partners {
        padding-top: 5.5rem;
        padding-bottom: 8.25rem;
        margin-bottom: .875rem
    }

    .partners__img--cupcake,
    .partners__img--cloud {
        display: none
    }

    .partners__img--bug {
        left: 0;
        bottom: -1.25rem;
        width: 12.75rem
    }

    .partners__title {
        margin-bottom: .625rem
    }

    .partners__subtitle {
        margin-bottom: 1.125rem
    }

    .partners:after {
        background-position: center;
        height: 3.375rem;
        background-position: 35%
    }

    .partners::before {
        display: none
    }

    .our-partners {
        margin-bottom: 4rem
    }

    .our-partners__block {
        -ms-flex: 0 0 calc(50% - 1.5rem);
        flex: 0 0 calc(50% - 1.5rem);
        margin-right: 0
    }

    .our-partners__block:not(:nth-child(6n)) {
        margin-right: 0
    }

    .our-partners__block:not(:nth-child(4n)) {
        margin-right: 0
    }

    .our-partners__block:not(:nth-child(even)) {
        margin-right: .75rem
    }

    .our-partners__block:nth-of-type(1n + 7) {
        display: none
    }

    .our-partners__block.show:nth-of-type(1n + 7) {
        display: flex
    }

    .why-galaxsys {
        margin-bottom: 4.125rem;
        overflow: hidden
    }

    .why-galaxsys__img {
        border-radius: 1.375rem;
        height: 76%
    }

    .why-galaxsys__img>img {
        position: relative;
        top: -2.875rem;
        left: 50%;
        transform: translateX(-50%);
        min-width: 25rem;
        max-width: 25rem
    }

    .why-galaxsys__title {
        margin-bottom: 1rem
    }

    .why-galaxsys__text {
        margin-bottom: 1.5rem
    }

    .why-galaxsys__gifts .gift {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .why-galaxsys__gifts .gift:nth-child(odd) {
        margin-right: 0
    }

    .why-galaxsys__btn {
        display: flex;
        justify-content: center
    }

    .fashion {
        margin-bottom: 4rem
    }

    .fashion__body {
        padding: 0 0 2.125rem
    }

    .fashion__title {
        margin-bottom: 1rem;
        text-align: center
    }

    .fashion__text>p:not(:last-child) {
        margin-bottom: .5rem
    }

    .fashion__decor {
        display: none
    }

    .fashion__games {
        margin: -2.5rem 2.25rem 3rem
    }

    .fashion__img {
        margin-top: -1.5rem
    }

    .fashion__img>img {
        border-radius: .625rem;
        width: 100%
    }

    .fashion-game {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .fashion-game:first-child {
        margin-right: .75rem
    }

    .fashion-game__img {
        width: 100%;
        border-radius: .625rem;
        height: 4.25rem;
        margin-bottom: 0
    }

    .fashion-game__img>img {
        width: 6.125rem
    }

    .client {
        margin-bottom: 4rem
    }

    .client__icon {
        left: 2rem
    }

    .client__icon>img {
        width: 2.5rem
    }

    .client__title {
        margin-bottom: 1rem
    }

    .client__info {
        margin-right: 0
    }

    .client__body {
        flex-direction: column;
        padding: 2.75rem 2rem 2rem;
        border-radius: 1rem;
        margin: 0 -1rem 4rem
    }

    .client__text {
        margin-bottom: 1rem
    }

    .client__bottom {
        flex-direction: column
    }

    .client__btn {
        margin-bottom: 1rem;
        margin-right: 0;
        width: 100%
    }

    .client__btn .btn {
        min-width: 100%
    }

    .client__slider {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .client__slider.slick-dotted.slick-slider {
        margin-bottom: 1.5rem
    }

    .client__slider img {
        width: 100%
    }

    .client__slider-container {
        max-width: 100%;
        margin-top: 0
    }

    .client__info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

@media(max-width: 767px) {
    .client__body {
        border-radius: 0;
        padding: 2.75rem 1rem 2rem
    }

    .client__icon {
        left: 1rem
    }

    .why-galaxsys__img>img {
        transform: none;
        left: -2.75rem;
        min-width: 118%;
        max-width: 118%
    }

    .fashion__games {
        margin: -2.5rem .625rem 3rem
    }
}

/*# sourceMappingURL=partners.css.map */