.lang-switcher,
.header-menu__item>a,
.header-menu,
.header__client,
.header__right,
.header__center,
.header__burger,
.header__wrapper {
    display: -ms-flexbox;
    display: flex
}

.lang-switcher,
.header-menu__item>a,
.header-menu,
.header__client,
.header__right,
.header__center,
.header__wrapper {
    -ms-flex-align: center;
    align-items: center
}

.header__burger,
.header__wrapper {
    -ms-flex-pack: space-between;
    justify-content: space-between
}

.header__client {
    -ms-flex-pack: center;
    justify-content: center
}

.header__client-tooltip {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.lang-switcher {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.header__client-tooltip,
.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}

.header__client:hover+.header__client-tooltip,
.shown {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

@font-face {
    font-family: "Inter";
    src: local("Inter Black"), local("Inter-Black"), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter SemiBold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter Light"), local("Inter-Light"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter ExtraLight"), local("Inter-ExtraLight"), url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: local("Inter Thin"), local("Inter-Thin"), url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins BlackItalic"), local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins BoldItalic"), local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins SemiBoldItalic"), local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins MediumItalic"), local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins LightItalic"), local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraLightItalic"), local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ThinItalic"), local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

.h1-font {
    font: 800 5.125rem/1 "Poppins", "Tahoma", sans-serif;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: -0.1025rem
}

@media(max-width: 1023px) {
    .h1-font {
        font-size: 2.25rem
    }
}

.h2-font {
    font: 800 3.125rem/1 "Poppins", "Tahoma", sans-serif;
    color: inherit;
    letter-spacing: -0.0625rem
}

@media(max-width: 1023px) {
    .h2-font {
        font-size: 1.875rem
    }
}

.h3-font {
    font: 800 2rem/1 "Poppins", "Tahoma", sans-serif;
    color: inherit;
    letter-spacing: -0.04rem
}

@media(max-width: 1023px) {
    .h3-font {
        font-size: 1.5rem
    }
}

.h4-font {
    font: 700 1.75rem/1.4 "Poppins", "Tahoma", sans-serif;
    color: inherit
}

@media(max-width: 1023px) {
    .h4-font {
        font-size: 1.5rem
    }
}

.h5-font {
    font: 800 1.5rem/1 "Poppins", "Tahoma", sans-serif;
    color: inherit
}

@media(max-width: 1023px) {
    .h5-font {
        font-size: 1.25rem
    }
}

.body-sm {
    font: 400 1rem/150% "Inter", "Tahoma", sans-serif;
    color: inherit
}

@media(max-width: 1023px) {
    .body-sm {
        font-size: .75rem
    }
}

.body-lg {
    font: 400 1.25rem/145% "Inter", "Tahoma", sans-serif;
    color: inherit
}

@media(max-width: 1023px) {
    .body-lg {
        font-size: .9375rem
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0
}

html {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: .833333333vw
}

@media(max-width: 1439px) {
    html {
        font-size: 1.17216117vw
    }
}

@media(max-width: 1023px) {
    html {
        font-size: 2.08333333vw
    }
}

@media(max-width: 767px) {
    html {
        font-size: 16px
    }
}

body {
    font-family: "Inter", "Tahoma", sans-serif
}

body.locked {
    overflow: hidden
}

a {
    text-decoration: none;
    color: inherit
}

img,
svg {
    display: inline-block;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number],
textarea[type=number] {
    -moz-appearance: textfield
}

textarea {
    resize: vertical
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.relative {
    position: relative
}

.disabled {
    pointer-events: none;
    user-select: none
}

.font-bold {
    font-weight: bold
}

.font-extrabold {
    font-weight: 800
}

.font-semibold {
    font-weight: 600
}

.font-medium {
    font-weight: 500
}

.font-light {
    font-weight: 300
}

.font-black {
    font-weight: 900
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.nowrap {
    white-space: nowrap
}

.hide {
    display: none !important
}

.cursor {
    cursor: pointer
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.bg-white {
    background-color: #fff
}

.bg-black {
    background-color: #000
}

.bg-inherit {
    background-color: inherit
}

.color-white {
    color: #fff
}

.color-black {
    color: #000
}

.color-inherit {
    color: inherit
}

.shadow-xs {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

.shadow-sm {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.shadow-md {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)
}

.shadow-inherit {
    color: inherit
}

@media(max-width: 1365px) {
    .hide-xl {
        display: none !important
    }

    .show-xl {
        display: block !important
    }

    .show-xl.flex-container,
    .show-xl.xl-flex-container {
        display: flex !important
    }
}

@media(max-width: 1279px) {
    .hide-lg {
        display: none !important
    }

    .show-lg {
        display: block !important
    }

    .show-lg.flex-container,
    .show-lg.lg-flex-container {
        display: flex !important
    }
}

@media(max-width: 1023px) {
    .hide-md {
        display: none !important
    }

    .show-md {
        display: block !important
    }

    .show-md.flex-container,
    .show-md.md-flex-container {
        display: flex !important
    }
}

@media(max-width: 767px) {
    .hide-sm {
        display: none !important
    }

    .show-sm {
        display: block !important
    }

    .show-sm.flex-container {
        display: flex !important
    }
}

.row {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.row .row {
    margin-right: -1rem;
    margin-left: -1rem
}

.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-right: auto;
    margin-left: auto
}

.row:not(.expanded) .row {
    max-width: none
}

.column {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-right: 1rem;
    padding-left: 1rem
}

.column.row {
    display: block
}

.row .column.row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

@media print,
screen and (min-width: 768px) {
    .row {
        max-width: calc(100% - 6rem)
    }
}

@media print,
screen and (min-width: 1024px) {
    .row {
        max-width: calc(100% - 8.75rem)
    }

    .row .row {
        margin-right: -0.75rem;
        margin-left: -0.75rem
    }

    .column,
    .columns {
        padding-right: .75rem;
        padding-left: .75rem
    }
}

@media print,
screen and (min-width: 1366px) {
    .row {
        max-width: 84rem
    }
}

@media print,
screen and (min-width: 0) {
    .sm-1 {
        -ms-flex: 0 0 7.1428571429%;
        flex: 0 0 7.1428571429%;
        max-width: 7.1428571429%
    }

    .sm-offset-1 {
        margin-left: 7.1428571429%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-2 {
        -ms-flex: 0 0 14.2857142857%;
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .sm-offset-2 {
        margin-left: 14.2857142857%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-3 {
        -ms-flex: 0 0 21.4285714286%;
        flex: 0 0 21.4285714286%;
        max-width: 21.4285714286%
    }

    .sm-offset-3 {
        margin-left: 21.4285714286%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-4 {
        -ms-flex: 0 0 28.5714285714%;
        flex: 0 0 28.5714285714%;
        max-width: 28.5714285714%
    }

    .sm-offset-4 {
        margin-left: 28.5714285714%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-5 {
        -ms-flex: 0 0 35.7142857143%;
        flex: 0 0 35.7142857143%;
        max-width: 35.7142857143%
    }

    .sm-offset-5 {
        margin-left: 35.7142857143%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-6 {
        -ms-flex: 0 0 42.8571428571%;
        flex: 0 0 42.8571428571%;
        max-width: 42.8571428571%
    }

    .sm-offset-6 {
        margin-left: 42.8571428571%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .sm-offset-7 {
        margin-left: 50%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-8 {
        -ms-flex: 0 0 57.1428571429%;
        flex: 0 0 57.1428571429%;
        max-width: 57.1428571429%
    }

    .sm-offset-8 {
        margin-left: 57.1428571429%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-9 {
        -ms-flex: 0 0 64.2857142857%;
        flex: 0 0 64.2857142857%;
        max-width: 64.2857142857%
    }

    .sm-offset-9 {
        margin-left: 64.2857142857%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-10 {
        -ms-flex: 0 0 71.4285714286%;
        flex: 0 0 71.4285714286%;
        max-width: 71.4285714286%
    }

    .sm-offset-10 {
        margin-left: 71.4285714286%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-11 {
        -ms-flex: 0 0 78.5714285714%;
        flex: 0 0 78.5714285714%;
        max-width: 78.5714285714%
    }

    .sm-offset-11 {
        margin-left: 78.5714285714%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-12 {
        -ms-flex: 0 0 85.7142857143%;
        flex: 0 0 85.7142857143%;
        max-width: 85.7142857143%
    }

    .sm-offset-12 {
        margin-left: 85.7142857143%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-13 {
        -ms-flex: 0 0 92.8571428571%;
        flex: 0 0 92.8571428571%;
        max-width: 92.8571428571%
    }

    .sm-offset-13 {
        margin-left: 92.8571428571%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-14 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .sm-offset-14 {
        margin-left: 100%
    }

    .sm-offset-0 {
        margin-left: 0
    }

    .sm-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .sm-33 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .sm-66 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%
    }

    .sm-text-center {
        text-align: center
    }

    .sm-text-left {
        text-align: left
    }

    .sm-text-right {
        text-align: right
    }
}

@media print,
screen and (min-width: 768px) {
    .md-1 {
        -ms-flex: 0 0 7.1428571429%;
        flex: 0 0 7.1428571429%;
        max-width: 7.1428571429%
    }

    .md-offset-1 {
        margin-left: 7.1428571429%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-2 {
        -ms-flex: 0 0 14.2857142857%;
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .md-offset-2 {
        margin-left: 14.2857142857%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-3 {
        -ms-flex: 0 0 21.4285714286%;
        flex: 0 0 21.4285714286%;
        max-width: 21.4285714286%
    }

    .md-offset-3 {
        margin-left: 21.4285714286%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-4 {
        -ms-flex: 0 0 28.5714285714%;
        flex: 0 0 28.5714285714%;
        max-width: 28.5714285714%
    }

    .md-offset-4 {
        margin-left: 28.5714285714%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-5 {
        -ms-flex: 0 0 35.7142857143%;
        flex: 0 0 35.7142857143%;
        max-width: 35.7142857143%
    }

    .md-offset-5 {
        margin-left: 35.7142857143%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-6 {
        -ms-flex: 0 0 42.8571428571%;
        flex: 0 0 42.8571428571%;
        max-width: 42.8571428571%
    }

    .md-offset-6 {
        margin-left: 42.8571428571%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .md-offset-7 {
        margin-left: 50%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-8 {
        -ms-flex: 0 0 57.1428571429%;
        flex: 0 0 57.1428571429%;
        max-width: 57.1428571429%
    }

    .md-offset-8 {
        margin-left: 57.1428571429%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-9 {
        -ms-flex: 0 0 64.2857142857%;
        flex: 0 0 64.2857142857%;
        max-width: 64.2857142857%
    }

    .md-offset-9 {
        margin-left: 64.2857142857%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-10 {
        -ms-flex: 0 0 71.4285714286%;
        flex: 0 0 71.4285714286%;
        max-width: 71.4285714286%
    }

    .md-offset-10 {
        margin-left: 71.4285714286%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-11 {
        -ms-flex: 0 0 78.5714285714%;
        flex: 0 0 78.5714285714%;
        max-width: 78.5714285714%
    }

    .md-offset-11 {
        margin-left: 78.5714285714%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-12 {
        -ms-flex: 0 0 85.7142857143%;
        flex: 0 0 85.7142857143%;
        max-width: 85.7142857143%
    }

    .md-offset-12 {
        margin-left: 85.7142857143%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-13 {
        -ms-flex: 0 0 92.8571428571%;
        flex: 0 0 92.8571428571%;
        max-width: 92.8571428571%
    }

    .md-offset-13 {
        margin-left: 92.8571428571%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-14 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .md-offset-14 {
        margin-left: 100%
    }

    .md-offset-0 {
        margin-left: 0
    }

    .md-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .md-33 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .md-66 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%
    }

    .md-text-center {
        text-align: center
    }

    .md-text-left {
        text-align: left
    }

    .md-text-right {
        text-align: right
    }
}

@media print,
screen and (min-width: 1024px) {
    .lg-1 {
        -ms-flex: 0 0 7.1428571429%;
        flex: 0 0 7.1428571429%;
        max-width: 7.1428571429%
    }

    .lg-offset-1 {
        margin-left: 7.1428571429%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-2 {
        -ms-flex: 0 0 14.2857142857%;
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .lg-offset-2 {
        margin-left: 14.2857142857%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-3 {
        -ms-flex: 0 0 21.4285714286%;
        flex: 0 0 21.4285714286%;
        max-width: 21.4285714286%
    }

    .lg-offset-3 {
        margin-left: 21.4285714286%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-4 {
        -ms-flex: 0 0 28.5714285714%;
        flex: 0 0 28.5714285714%;
        max-width: 28.5714285714%
    }

    .lg-offset-4 {
        margin-left: 28.5714285714%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-5 {
        -ms-flex: 0 0 35.7142857143%;
        flex: 0 0 35.7142857143%;
        max-width: 35.7142857143%
    }

    .lg-offset-5 {
        margin-left: 35.7142857143%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-6 {
        -ms-flex: 0 0 42.8571428571%;
        flex: 0 0 42.8571428571%;
        max-width: 42.8571428571%
    }

    .lg-offset-6 {
        margin-left: 42.8571428571%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .lg-offset-7 {
        margin-left: 50%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-8 {
        -ms-flex: 0 0 57.1428571429%;
        flex: 0 0 57.1428571429%;
        max-width: 57.1428571429%
    }

    .lg-offset-8 {
        margin-left: 57.1428571429%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-9 {
        -ms-flex: 0 0 64.2857142857%;
        flex: 0 0 64.2857142857%;
        max-width: 64.2857142857%
    }

    .lg-offset-9 {
        margin-left: 64.2857142857%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-10 {
        -ms-flex: 0 0 71.4285714286%;
        flex: 0 0 71.4285714286%;
        max-width: 71.4285714286%
    }

    .lg-offset-10 {
        margin-left: 71.4285714286%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-11 {
        -ms-flex: 0 0 78.5714285714%;
        flex: 0 0 78.5714285714%;
        max-width: 78.5714285714%
    }

    .lg-offset-11 {
        margin-left: 78.5714285714%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-12 {
        -ms-flex: 0 0 85.7142857143%;
        flex: 0 0 85.7142857143%;
        max-width: 85.7142857143%
    }

    .lg-offset-12 {
        margin-left: 85.7142857143%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-13 {
        -ms-flex: 0 0 92.8571428571%;
        flex: 0 0 92.8571428571%;
        max-width: 92.8571428571%
    }

    .lg-offset-13 {
        margin-left: 92.8571428571%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-14 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .lg-offset-14 {
        margin-left: 100%
    }

    .lg-offset-0 {
        margin-left: 0
    }

    .lg-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .lg-33 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .lg-66 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%
    }

    .lg-text-center {
        text-align: center
    }

    .lg-text-left {
        text-align: left
    }

    .lg-text-right {
        text-align: right
    }
}

@media print,
screen and (min-width: 1280px) {
    .xl-1 {
        -ms-flex: 0 0 7.1428571429%;
        flex: 0 0 7.1428571429%;
        max-width: 7.1428571429%
    }

    .xl-offset-1 {
        margin-left: 7.1428571429%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-2 {
        -ms-flex: 0 0 14.2857142857%;
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .xl-offset-2 {
        margin-left: 14.2857142857%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-3 {
        -ms-flex: 0 0 21.4285714286%;
        flex: 0 0 21.4285714286%;
        max-width: 21.4285714286%
    }

    .xl-offset-3 {
        margin-left: 21.4285714286%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-4 {
        -ms-flex: 0 0 28.5714285714%;
        flex: 0 0 28.5714285714%;
        max-width: 28.5714285714%
    }

    .xl-offset-4 {
        margin-left: 28.5714285714%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-5 {
        -ms-flex: 0 0 35.7142857143%;
        flex: 0 0 35.7142857143%;
        max-width: 35.7142857143%
    }

    .xl-offset-5 {
        margin-left: 35.7142857143%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-6 {
        -ms-flex: 0 0 42.8571428571%;
        flex: 0 0 42.8571428571%;
        max-width: 42.8571428571%
    }

    .xl-offset-6 {
        margin-left: 42.8571428571%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .xl-offset-7 {
        margin-left: 50%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-8 {
        -ms-flex: 0 0 57.1428571429%;
        flex: 0 0 57.1428571429%;
        max-width: 57.1428571429%
    }

    .xl-offset-8 {
        margin-left: 57.1428571429%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-9 {
        -ms-flex: 0 0 64.2857142857%;
        flex: 0 0 64.2857142857%;
        max-width: 64.2857142857%
    }

    .xl-offset-9 {
        margin-left: 64.2857142857%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-10 {
        -ms-flex: 0 0 71.4285714286%;
        flex: 0 0 71.4285714286%;
        max-width: 71.4285714286%
    }

    .xl-offset-10 {
        margin-left: 71.4285714286%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-11 {
        -ms-flex: 0 0 78.5714285714%;
        flex: 0 0 78.5714285714%;
        max-width: 78.5714285714%
    }

    .xl-offset-11 {
        margin-left: 78.5714285714%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-12 {
        -ms-flex: 0 0 85.7142857143%;
        flex: 0 0 85.7142857143%;
        max-width: 85.7142857143%
    }

    .xl-offset-12 {
        margin-left: 85.7142857143%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-13 {
        -ms-flex: 0 0 92.8571428571%;
        flex: 0 0 92.8571428571%;
        max-width: 92.8571428571%
    }

    .xl-offset-13 {
        margin-left: 92.8571428571%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-14 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .xl-offset-14 {
        margin-left: 100%
    }

    .xl-offset-0 {
        margin-left: 0
    }

    .xl-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .xl-33 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .xl-66 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%
    }

    .xl-text-center {
        text-align: center
    }

    .xl-text-left {
        text-align: left
    }

    .xl-text-right {
        text-align: right
    }
}

@media print,
screen and (min-width: 1366px) {
    .xxl-1 {
        -ms-flex: 0 0 7.1428571429%;
        flex: 0 0 7.1428571429%;
        max-width: 7.1428571429%
    }

    .xxl-offset-1 {
        margin-left: 7.1428571429%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-2 {
        -ms-flex: 0 0 14.2857142857%;
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .xxl-offset-2 {
        margin-left: 14.2857142857%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-3 {
        -ms-flex: 0 0 21.4285714286%;
        flex: 0 0 21.4285714286%;
        max-width: 21.4285714286%
    }

    .xxl-offset-3 {
        margin-left: 21.4285714286%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-4 {
        -ms-flex: 0 0 28.5714285714%;
        flex: 0 0 28.5714285714%;
        max-width: 28.5714285714%
    }

    .xxl-offset-4 {
        margin-left: 28.5714285714%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-5 {
        -ms-flex: 0 0 35.7142857143%;
        flex: 0 0 35.7142857143%;
        max-width: 35.7142857143%
    }

    .xxl-offset-5 {
        margin-left: 35.7142857143%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-6 {
        -ms-flex: 0 0 42.8571428571%;
        flex: 0 0 42.8571428571%;
        max-width: 42.8571428571%
    }

    .xxl-offset-6 {
        margin-left: 42.8571428571%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .xxl-offset-7 {
        margin-left: 50%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-8 {
        -ms-flex: 0 0 57.1428571429%;
        flex: 0 0 57.1428571429%;
        max-width: 57.1428571429%
    }

    .xxl-offset-8 {
        margin-left: 57.1428571429%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-9 {
        -ms-flex: 0 0 64.2857142857%;
        flex: 0 0 64.2857142857%;
        max-width: 64.2857142857%
    }

    .xxl-offset-9 {
        margin-left: 64.2857142857%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-10 {
        -ms-flex: 0 0 71.4285714286%;
        flex: 0 0 71.4285714286%;
        max-width: 71.4285714286%
    }

    .xxl-offset-10 {
        margin-left: 71.4285714286%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-11 {
        -ms-flex: 0 0 78.5714285714%;
        flex: 0 0 78.5714285714%;
        max-width: 78.5714285714%
    }

    .xxl-offset-11 {
        margin-left: 78.5714285714%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-12 {
        -ms-flex: 0 0 85.7142857143%;
        flex: 0 0 85.7142857143%;
        max-width: 85.7142857143%
    }

    .xxl-offset-12 {
        margin-left: 85.7142857143%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-13 {
        -ms-flex: 0 0 92.8571428571%;
        flex: 0 0 92.8571428571%;
        max-width: 92.8571428571%
    }

    .xxl-offset-13 {
        margin-left: 92.8571428571%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-14 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .xxl-offset-14 {
        margin-left: 100%
    }

    .xxl-offset-0 {
        margin-left: 0
    }

    .xxl-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .xxl-33 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .xxl-66 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%
    }

    .xxl-text-center {
        text-align: center
    }

    .xxl-text-left {
        text-align: left
    }

    .xxl-text-right {
        text-align: right
    }
}

.align-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.align-center {
    -ms-flex-pack: center;
    justify-content: center
}

.align-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.align-spaced {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-top {
    -ms-flex-align: start;
    align-items: flex-start
}

.align-self-top {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.align-bottom {
    -ms-flex-align: end;
    align-items: flex-end
}

.align-self-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.align-middle {
    -ms-flex-align: center;
    align-items: center
}

.align-self-middle {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.align-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch
}

.align-center-middle {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

@media print,
screen and (min-width: 0) {
    .sm-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .sm-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .sm-align-justify {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .sm-align-spaced {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .sm-align-top {
        -ms-flex-align: start;
        align-items: flex-start
    }

    .sm-align-self-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .sm-align-bottom {
        -ms-flex-align: end;
        align-items: flex-end
    }

    .sm-align-self-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }

    .sm-align-middle {
        -ms-flex-align: center;
        align-items: center
    }

    .sm-align-self-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .sm-align-stretch {
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .sm-align-self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
    }

    .sm-align-center-middle {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center
    }

    .sm-order-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .sm-order-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .sm-order-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .sm-order-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .sm-order-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .sm-order-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .sm-order-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .sm-order-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .sm-order-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .sm-order-10 {
        -ms-flex-order: 10;
        order: 10
    }
}

@media print,
screen and (min-width: 768px) {
    .md-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .md-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .md-align-justify {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .md-align-spaced {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .md-align-top {
        -ms-flex-align: start;
        align-items: flex-start
    }

    .md-align-self-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .md-align-bottom {
        -ms-flex-align: end;
        align-items: flex-end
    }

    .md-align-self-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }

    .md-align-middle {
        -ms-flex-align: center;
        align-items: center
    }

    .md-align-self-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .md-align-stretch {
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .md-align-self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
    }

    .md-align-center-middle {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center
    }

    .md-order-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .md-order-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .md-order-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .md-order-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .md-order-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .md-order-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .md-order-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .md-order-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .md-order-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .md-order-10 {
        -ms-flex-order: 10;
        order: 10
    }
}

@media print,
screen and (min-width: 1024px) {
    .lg-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .lg-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .lg-align-justify {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .lg-align-spaced {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .lg-align-top {
        -ms-flex-align: start;
        align-items: flex-start
    }

    .lg-align-self-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .lg-align-bottom {
        -ms-flex-align: end;
        align-items: flex-end
    }

    .lg-align-self-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }

    .lg-align-middle {
        -ms-flex-align: center;
        align-items: center
    }

    .lg-align-self-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .lg-align-stretch {
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .lg-align-self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
    }

    .lg-align-center-middle {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center
    }

    .lg-order-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .lg-order-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .lg-order-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .lg-order-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .lg-order-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .lg-order-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .lg-order-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .lg-order-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .lg-order-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .lg-order-10 {
        -ms-flex-order: 10;
        order: 10
    }
}

@media print,
screen and (min-width: 1280px) {
    .xl-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .xl-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .xl-align-justify {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .xl-align-spaced {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .xl-align-top {
        -ms-flex-align: start;
        align-items: flex-start
    }

    .xl-align-self-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .xl-align-bottom {
        -ms-flex-align: end;
        align-items: flex-end
    }

    .xl-align-self-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }

    .xl-align-middle {
        -ms-flex-align: center;
        align-items: center
    }

    .xl-align-self-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .xl-align-stretch {
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .xl-align-self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
    }

    .xl-align-center-middle {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center
    }

    .xl-order-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .xl-order-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .xl-order-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .xl-order-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .xl-order-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .xl-order-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .xl-order-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .xl-order-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .xl-order-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .xl-order-10 {
        -ms-flex-order: 10;
        order: 10
    }
}

@media print,
screen and (min-width: 1366px) {
    .xxl-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .xxl-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .xxl-align-justify {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .xxl-align-spaced {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .xxl-align-top {
        -ms-flex-align: start;
        align-items: flex-start
    }

    .xxl-align-self-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .xxl-align-bottom {
        -ms-flex-align: end;
        align-items: flex-end
    }

    .xxl-align-self-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }

    .xxl-align-middle {
        -ms-flex-align: center;
        align-items: center
    }

    .xxl-align-self-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .xxl-align-stretch {
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .xxl-align-self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
    }

    .xxl-align-center-middle {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center
    }

    .xxl-order-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .xxl-order-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .xxl-order-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .xxl-order-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .xxl-order-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .xxl-order-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .xxl-order-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .xxl-order-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .xxl-order-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .xxl-order-10 {
        -ms-flex-order: 10;
        order: 10
    }
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex
}

.flex-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.flex-grow {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.flex-shrink {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.shrink {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%
}

.flex-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flex-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media print,
screen and (min-width: 0) {
    .sm-flex {
        display: -ms-flexbox;
        display: flex
    }

    .sm-flex-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .sm-flex-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .sm-flex-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }

    .sm-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%
    }

    .sm-flex-row {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .sm-flex-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .sm-flex-column {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .sm-flex-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media print,
screen and (min-width: 768px) {
    .md-flex {
        display: -ms-flexbox;
        display: flex
    }

    .md-flex-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .md-flex-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .md-flex-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }

    .md-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%
    }

    .md-flex-row {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .md-flex-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .md-flex-column {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .md-flex-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media print,
screen and (min-width: 1024px) {
    .lg-flex {
        display: -ms-flexbox;
        display: flex
    }

    .lg-flex-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .lg-flex-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .lg-flex-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }

    .lg-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%
    }

    .lg-flex-row {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .lg-flex-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .lg-flex-column {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .lg-flex-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media print,
screen and (min-width: 1280px) {
    .xl-flex {
        display: -ms-flexbox;
        display: flex
    }

    .xl-flex-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .xl-flex-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .xl-flex-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }

    .xl-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%
    }

    .xl-flex-row {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .xl-flex-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .xl-flex-column {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .xl-flex-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media print,
screen and (min-width: 1366px) {
    .xxl-flex {
        display: -ms-flexbox;
        display: flex
    }

    .xxl-flex-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .xxl-flex-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .xxl-flex-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }

    .xxl-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%
    }

    .xxl-flex-row {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .xxl-flex-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .xxl-flex-column {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .xxl-flex-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

.header {
    position: absolute;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0
}

.header__logo>svg {
    width: 10.3125rem
}

.header__burger {
    width: 2.5rem;
    height: 2.5rem;
    flex-direction: column;
    padding: .75rem .625rem;
    border-radius: .5rem;
    border: .09375rem solid rgba(255, 255, 255, .2)
}

.header__burger>span {
    display: block;
    background-color: #d9d9d9;
    height: .125rem;
    border-radius: .0625rem
}

.header__burger>span:first-child {
    width: .6875rem;
    align-self: flex-end
}

.header__burger>span:nth-child(2) {
    width: 1rem
}

.header__burger>span:last-child {
    width: .6875rem
}

.header__contact {
    font: 700 0.875rem/1.1 "Inter", "Tahoma", sans-serif;
    text-transform: uppercase;
    margin-right: 2rem;
    padding: .5rem 0;
    border-bottom: .125rem solid
}

.header__client {
    font: 700 0.875rem/1.1 "Inter", "Tahoma", sans-serif;
    text-transform: uppercase;
    cursor: default;
    border: .125rem solid;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 4.5rem
}

.header__client>.icon {
    margin-right: .25rem
}

.header__client-container {
    position: relative
}

.header__client-tooltip {
    top: calc(100% + 0.5rem);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #051435;
    padding: .5rem;
    border-radius: .5rem;
    color: #fff;
    min-width: max-content
}

.header__client-tooltip::before {
    content: "";
    height: .625rem;
    width: .625rem;
    background-color: #051435;
    top: -0.3125rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    transform: rotate(45deg)
}

.header-menu {
    list-style: none
}

.header-menu__item {
    font: 700 0.875rem/1.1 "Inter", "Tahoma", sans-serif;
    text-transform: uppercase;
    position: relative
}

@media(max-width: 1023px) {
    .header-menu__item {
        font-size: 1.125rem
    }
}

.header-menu__item:not(:last-child) {
    margin-right: 2.5rem
}

.header-menu__item:not(:last-child)::before {
    position: absolute;
    content: "";
    right: -1.25rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: .1875rem;
    width: .1875rem;
    background-color: rgba(5, 20, 53, .2);
    border-radius: 100%
}

.header-menu__item.active::after {
    position: absolute;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    height: .25rem;
    width: 1rem;
    bottom: -0.75rem;
    border-radius: .5rem
}

.lang-switcher {
    font: 700 0.875rem/1.1 "Inter", "Tahoma", sans-serif
}

@media(max-width: 1023px) {
    .lang-switcher {
        font-size: .6875rem
    }
}

.lang-switcher>.icon {
    margin-left: .125rem;
    font-size: 1.25rem
}

@media(max-width: 1023px) {
    .header {
        padding: 1rem 0;
        z-index: 4
    }

    .header__logo {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%)
    }

    .header__logo>svg {
        width: 8.75rem
    }

    .header-mobile {
        position: fixed;
        padding: 1rem;
        left: -100%;
        top: 0;
        background: radial-gradient(72.36% 116.13% at 0% 49.88%, #102e70 0%, #051435 100%);
        height: 100%;
        width: 100%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease
    }

    .header-mobile.active {
        left: 0
    }

    .header-menu {
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;
        height: calc(100% - 2.5rem);
        padding-bottom: 2rem
    }

    .header-menu__item {
        width: 100%;
        color: #fff !important;
        font-weight: 400;
        text-transform: none;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 1.125rem;
        padding-bottom: 1.125rem;
        position: relative
    }

    .header-menu__item::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: .125rem;
        background-image: url("../img/decor/horizontal-white.svg");
        background-repeat: repeat-x;
        background-size: contain;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none
    }

    .header-menu__item::before {
        display: none
    }

    .header-menu__item:after {
        opacity: .3;
        bottom: 0
    }

    .header-menu__item.active::after {
        height: .125rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0) !important;
        bottom: 0;
        border-radius: 0
    }

    .header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2.5rem
    }

    .header-top .header__burger {
        border-color: rgba(255, 255, 255, .2)
    }

    .header-top .header__burger>span {
        background-color: #fff
    }

    .header-top .lang-switcher {
        color: rgba(255, 255, 255, .6)
    }

    .lang-switcher>.icon {
        font-size: 1.125rem;
        margin-left: 0
    }
}

/*# sourceMappingURL=top.css.map */